.find-container {
    text-align: center;
    margin-top: 80px;
}

.find-submit-form {
    position: relative; /* 부모 요소를 기준으로 absolute 위치 지정 가능 */
    display: inline-block;
    margin-top: 4px;
}

.find-submit-form-email {
    display: relative;
    margin-top: 11px;
    margin-left: 50px;
}

.find-submit-form-nickname {
    display: relative;
    margin-top: 11px;
    margin-left: 33px;
}

.verify-button {
    height: 40px;
    margin-left: 10px;
    padding: 1px 3px;
    cursor: pointer;
    background-color: white; /* 배경색 */
    color: black; /* 텍스트 색상 */
    border-radius: 10px; /* 모서리 둥글게 */
    border: 0.1px solid #999;
    font-size: 15px; /* 폰트 크기 */
    cursor: pointer; /* 커서 모양 변경 */  
}

.verify-button:hover {
  background-color: #f5f5f5d9; /* 호버 시 배경색 변경 */
}
  

.password-info-emailerror {
    font-size: 13px;
    text-align: left;
    margin-left: 388px;
    color: #999;
    margin-top: 10px;
}

#email {
    width: 300px;
    height: 50px;
    padding: 18px;
    font-size: 17px;
    border-radius: 8px;
    border: 1px solid #d3d2d2;
    margin-left: 20px;
}

#nickname{
    width: 300px;
    height: 50px;
    padding: 18px;
    font-size: 17px;
    border-radius: 8px;
    border: 1px solid #d3d2d2;
    margin-left: 20px;
}


#email-code-input {
    width: 300px;
    height: 50px;
    padding: 18px;
    font-size: 17px;
    border-radius: 8px;
    border: 1px solid #d3d2d2;
    margin-left: 53px;
    margin-top: 10px;
}

.find-container-password-form {
    text-align: center;
    margin-top: 20px;
}
.toggle-password {
    position: absolute;
    margin-right: 30px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2em;
}

.error-message {
    color: red;
    font-size: 13px;
    margin-top: 4px;
}

.valid {
    color: #58c079; /* 조건이 충족되면 초록색 */
}

.invalid {
    color: #ff4d4d; /* 조건이 충족되지 않으면 빨간색 */
}


.signup-title {
    font-size: 28px;
    font-weight: bold;
}

#phone::placeholder {
    font-size: 17px;
}

#code::placeholder {
    font-size: 17px;
}

#phone {
    width: 300px;
    height: 50px;
    padding: 18px;
    margin-right: 30px;
    font-size: 17px;
    border-radius: 8px;
    border: 1px solid #d3d2d2;
}

#code {
    width: 300px;
    height: 50px;
    padding: 18px;
    font-size: 17px;
    margin-right: 30px;
    border-radius: 8px;
    border: 1px solid #d3d2d2;
    outline: none; /* 포커스 시 기본 아웃라인 제거 */
}

#code:focus {
    border-color: #58c079; /* 포커스 시 테두리 색상 변경 */
}

.password-info {
    font-size: 13px;
    text-align: left;
    margin-left: 664px;
    color: #999;
}

.password-info01 {
    margin-top: 7px;
}

.password-info02 {
    margin-top: 7px;
}


.password-info03 {
    margin-top: 7px;
}

#find-submit-button {
    width: 90px;
    cursor: pointer;
    color: black; /* 텍스트 색상 */
    border-radius: 10px; /* 모서리 둥글게 */
    border-width: 1px;
    border-color: #999;
    background-color: white;
    font-size: 13px; /* 폰트 크기 */
    cursor: pointer; /* 커서 모양 변경 */
    transition: background-color 0.3s; /* 배경색 변화에 애니메이션 추가 */
  }

.phone {
    margin-bottom: 0px;
    margin-right: 260px;
}


.code {
    margin-bottom: 0px;
    margin-right: 365px;
}

#phone {
    outline: none; /* 포커스 시 기본 아웃라인 제거 */
}

#phone:focus {
    border-color: #58c079;
}

#code {
    outline: none;
}

#email-code-input {
    outline: none;
}

#email-code-input:focus {
    border-color: #58c079;
}

#code:focus {
    border-color: #58c079;
}

.subtitle-form {
    margin-top: 60px;
}

.subtitle-form02 {
    margin-top: 20px;
}

.find-password-subtitle-form02 {
    margin-top: 20px;
    margin-left: 25px;
}

.find-password-name {
    margin-bottom: 0px;
    margin-right: 300px;
}

.find-password-email {
    margin-bottom: 0px;
    margin-right: 290px;
}

.signup-email {
    margin-bottom: 0px;
    margin-right: 285px;
}

.signup-nickname {
    margin-bottom: 0px;
    margin-top: 20px;
    margin-right: 285px;
}

.signup-password {
    margin-bottom: 0px;
    margin-top: 20px;
    margin-right: 273px;
}

.signup-password-confirm {
    margin-bottom: 0px;
    margin-top: 20px;
    margin-right: 240px;
}

#confirm {
    margin-top: 30px;
    width: 300px;
    height: 50px;
    cursor: pointer;
    color: white; /* 텍스트 색상 */
    font-weight: bold;
    border-radius: 3px; /* 모서리 둥글게 */
    margin-right: 5px;
    border: none;
    background-color: #57c179;
    font-size: 17px; /* 폰트 크기 */
    cursor: pointer; /* 커서 모양 변경 */
    transition: background-color 0.3s; /* 배경색 변화에 애니메이션 추가 */    
  }


  #confirm:hover {
    background-color: #4fb16fee;
  }

  .find-password-subtitle-form {
    margin-top: 40px;
    margin-left: 25px;
  }

/* 크롬, 사파리, 엣지용 스피너 제거용 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* 파이어폭스용 스피너 제거용*/
input[type="number"] {
    -moz-appearance: textfield;
}


.closeeye {
    width: 20px;
}

.eye {
    width: 20px;
}

.confirm-button {
    margin-top: 40px;
    margin-right: 30px;
}

.send-email-success {
    color: #57c179;
    font-size: 13px;
}

.password-info-email-success {
    margin-right: 75px;
}

.password-info-emailcode-error {
    margin-left: 667px;
}

.password-info-emailcode-success {
    margin-top: 5px;
    margin-right: 155px;
}

.nickname-success-message {
    font-size: 13px;
    color: #57c179;
    margin-top: 5px;
    margin-right: 215px;
}

.nickname-error-message {
    font-size: 13px;
    color: red;
    margin-top: 5px;
    margin-left: 635px;
}

.password-info-emailerror {
    margin-left: 667px;
}

.nickname-info-p {
    font-size: 13px;
    color: #999;
}

.nickname-info {
    margin-right: 215px;
}


.find-password-success-message {
    color: #57c179;
    font-size: 13px;
    margin-top: 5px;
    margin-right: 60px;
}

.find-password-error-message {
    font-size: 13px;
    color: red;
    margin-top: 5px;
    margin-right: 130px;
}


.reset-password-title {
    text-align: center;
    margin-top: 90px;
}
.reset-password-subtitle {
    text-align: center;
    margin-top: 5px;
}

.find-password-title, .reset-password-title-p {
    font-size: 28px;
    font-weight: bold;
}

.reset-form {
    text-align: center;
    margin-left: 30px;
}

.newpwd-form {
    text-align: center;
    margin-right: 220px;
    margin-top: 30px;
}

.confirm-form {
    text-align: center;
    margin-right: 210px;
    margin-top: 30px;
}


.resetpwd-button-form {
    text-align: center;
}

#resetbutton {
    margin-top: 30px;
    width: 300px;
    height: 50px;
    cursor: pointer;
    color: white; /* 텍스트 색상 */
    font-weight: bold;
    border-radius: 3px; /* 모서리 둥글게 */
    margin-right: 5px;
    border: none;
    background-color: #57c179;
    font-size: 17px; /* 폰트 크기 */
    cursor: pointer; /* 커서 모양 변경 */
    transition: background-color 0.3s; /* 배경색 변화에 애니메이션 추가 */    
}

#resetbutton:hover {
    background-color: #4fb16fee;
}


.reset-info {
    font-size: 16px;
}

.reset-error {
    margin-left: 695px;
}